#friends-display-link {
  text-align: center;
  display: block;
  background-color: #e9e9e985;
  padding: 10px 0;
  margin-bottom: 15px;
  font-size: 18px;
  margin-top: -30px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  padding: 0 8px;
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__Channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ccc;
}

#splash-screen {
  /*새로고침 할 때 이 화면이 먼저 뜨고 사라지도록 만들 예정*/
  background-color: var(--yellow);
  position: absolute; /* relative를 따로 지정하지 않으면 body로 갖기 때문에 따로 지정하지 않을 것*/
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
