#chat-screen .status-bar {
  background-color: #abc1d1;
}

.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #abc1d1;
}
.alt-header__title {
  font-size: 28px;
  font-weight: bold;
}
/* space-between이 글자 수에 따라서 배열이 중앙 정열이 안된다는 점
따라서 마진 좌, 우 각각에 auto를 주어 중앙 정렬 배치 */

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column {
  width: 33%;
}
