.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
  padding: (--horizontal-space);
}

.screen-header__title {
  font-size: 32px;
  font-weight: bold;
}

.screen-header__icons span {
  margin-left: 20px;
}
